body{
    margin: 0;
    font-family: 'Smythe', cursive, 'Times New Roman', Times, serif, inter
}

main, header{
    margin: auto;
    width: 600px; 
}

header{
    text-align: left;
    height: 167px;
}
.header-inner{
    position: relative;
    margin: auto;
 
}
.headline{
    position: absolute;
    top: 17px;
    left: 20px; 
    color: whitesmoke;
}
h3{
    margin-top: 5px;
    margin-bottom: auto;
    font-weight: 400;
    font-size: 22.4216px;
}
h1{
   margin-bottom: 5px;
   font-weight: 400;
   font-size: 39px;
}
/* food items listing */
.display{
    border-bottom: 1px solid lightgray;
    padding: 20px 0 0 0;
    margin-bottom: 10px;
    width: auto;
}
.items{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.items-inner{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.add-btn{
    margin-left: auto;
    margin-right: 20px;
    font-size: larger;
}

.eclipse{
    display: inline-block;
    border: 1px solid gray;
    border-radius: 50%;
    text-align: center;
    padding: 15px;
    margin-right: auto;
 
}
.title{
    font-family: inherit;
    font-weight: 400;
    font-size: 28px;
    line-height: 17px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.ingredients{
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.price{
    font-family: inter;
    font-weight: 200;
    font-size: 16px;
    line-height: 14px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.emoji{
    margin-top: 5px;
    font-weight: 400;
    font-size: 78.72px;
    margin-bottom: 25px;
    margin-right: 12px;
    padding-right: 12px;
}

/* order details */
.order-details{
    display: block;
    text-align: center;
}
.total-item{
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    margin-top: -10px;
}

.total-cost{
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    border-top: 2px solid gray;
}
.continue{
    margin-bottom: 15px;
}
.gotopayment{
    display: block;
    width: 100%;
    border: none;
    background: green;
    color: white;
    padding: 10px 5px;
}